.get__started {
    position: relative;
    overflow: hidden;
    background-color: var(--primary-green);
    padding-top: 236px;
}

.get__started__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 88%;
    margin: 0 auto;
    gap: 48px;
}

.get__started__title {
    margin: 0 auto;
    font-family: 'Motter Corpus Std';
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: var(--primary-pink);
    max-width: 900px;
}

.get__started__button__group {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.get__started__button {
    display: flex;
    padding: 21px 40px;
    border: 2px solid var(--primary-pink);
    border-radius: 100px;
    background-color: var(--primary-green);
    font-family: 'Nunito Sans';
    color: var(--primary-pink);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    gap: 12px;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: center;
    width: 264px;
}

#text {
    max-width: 150px;
}
