.header {
    position: fixed;
    padding: 20px 6%;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: 18px;
    z-index: 9999;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    font-family: 'Motter Corpus Std';
    font-size: 26px;
    color: var(--primary-green);
}
.header__actions {
    display: flex;
    align-items: center;
    gap: 48px;
}
.header__list {
    display: flex;
    gap: 24px;
}
.header__list-item a {
    color: var(--primary-green);
    font-weight: 500;
}
.header__download {
    padding: 13px 43.5px;
    border-radius: 124px;
    background-color: var(--primary-green);
    font-family: 'Nunito Sans';
    color: var(--primary-pink);
    font-size: 16px;
    font-weight: 500;
}
