.lesser {
    position: relative;
    overflow: hidden;
    height: 701px;
    margin-top: 188px;
}
.lesser__container {
    max-width: 88%;
    margin: 0 auto;
}
.lesser__image {
    position: relative;
    display: grid;
    gap: 10px;
    left: 32px;
}
.lesser__text__container {
    position: relative;
    display: grid;
    margin: 0 0;
    left: 720px;
    gap: 32px;
    width: 464px;
    top: -500px;
}
.lesser__title {
    max-width: 506px;
    font-family: 'Nunito Sans';
    font-weight: 900;
    font-size: 68px;
    line-height: 72px;
    color: var(--primary-green);
}
.lesser__text {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--primary-green);
    width: 500px;
}
.lesser__button {
    display: grid;
    width: 291px;
    padding: 12px 0;
    margin-top: 16px;
    border: 2px solid var(--primary-green);
    border-radius: 100px;
    font-family: 'Nunito Sans';
    color: var(--primary-green);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    gap: 10px;
}
.app__store {
    margin: 0 auto;
}
