.destiny {
    position: relative;
    overflow: hidden;
    background-color: var(--primary-green);
    height: 800px;

}
.destiny__container {
    max-width: 88%;
    margin: 0 auto;
}
.destiny__text__container {
    position: relative;
    display: grid;
    margin: 0 0;
    top: 118px;
    /* left: 94px; */
    gap: 48px;
    width: 475px;
}
.destiny__title {
    font-family: 'Nunito Sans';
    font-weight: 900;
    font-size: 68px;
    line-height: 72px;
    color: var(--primary-pink);
}
.destiny__text {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--primary-pink);
}
.destiny__button {
    display: grid;
    width: 291px;
    padding: 12px 0;
    border: 2px solid var(--primary-pink);
    border-radius: 100px;
    background-color: var(--primary-green);
    font-family: 'Nunito Sans';
    color: var(--primary-pink);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    gap: 10px;
}
.destiny__image {
    position: relative;
    display: grid;
    width: 720px;
    height: 800px;
    top: -600px;
    left: 700px;
}