.discover {
    position: relative;
    overflow: hidden;
    background-color: var(--primary-pink);
    background-image: url('/assets/images/discover-background.png');
    height: 800px;
}

.discover__container {
    max-width: 88%;
    margin: 0 auto;
}


.discover__text__container {
    position: relative;
    display: grid;
    max-width: 88%;
    margin: 0 auto;
    z-index: 99;
    gap: 24px;
    top: 200px;
}

.discover__title {
    margin: 0 auto;
    font-family: 'Motter Corpus Std';
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
    max-width: 900px;
}

.discover__text {
    margin: 0 auto;
    font-family: 'Nunito Sans';
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 750px;
}

.discover__text span {
    font-weight: 800;
}
