@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('header.css');
@import url('hero.css');
@import url('discover.css');
@import url('destiny.css');
@import url('further.css');
@import url('quality.css');
@import url('magic.css');
@import url('testimonials.css');

@font-face {
    font-family: 'Motter Corpus Std';
    src: url(/assets/fonts/Motter\ Corpus\ Std\ Regular.otf);
}

:root {
    --primary-green: #0B4141;
    --primary-pink: #FFCCBC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}