.quality  {
    position: relative;
    overflow: hidden;
    padding-top: 80px;
    height: 600px;
}
.quality__container {
    max-width: 88%;
    margin: 0 auto;
}
.quality__image {
    position: relative;
    display: grid;
    gap: 10px;
    padding-left: 600px;
    top: -580px;
}
.quality__text__container {
    position: relative;
    display: grid;
    margin: 0 0;
    gap: 32px;
    width: 464px;
    padding-top: 48px;
    padding-right: 96px;
    padding-bottom: 128px;
    padding-left: 80px;
}
.quality__title {
    width: 358px;
    font-family: 'Nunito Sans';
    font-weight: 900;
    font-size: 68px;
    line-height: 72px;
    color: var(--primary-green);
}
.quality__text {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--primary-green);
    width: 464px;
}